/* colors: 	rich black - 040303, 
			arsenic - 3A4E48, 
			smoke - 6A7B76, 
			artichoke - 8B9D83, 
			black-shadows - BEB0A7;
			*/


/*   add active bg change. add transitions. add accessability stuff.
remove information notes and other notes.
reposition thesis details so not centered
CHECK EVERYTHING BEFORE SUBMITTING*/

html {
	font-family: 'Roboto', sans-serif;
}

body {
	color: #040303;
	margin-top: 64px;
	width: 100%;
	margin-left: 0px;
}

header {
	background-color: #8B9D83;
	height: 64px;
	left: 0px;
	top: 0px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding-bottom: 4px;
}

header .container {
	margin-left: 24px;
	margin-right: 24px;

}

nav ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
}

nav li {
	margin: 8px;
}

nav a {
	text-decoration: none;
	color: inherit;
	font-size: 1.2rem;
	font-weight: bold;
	background-color: #8B9D83;
	border-radius: 16px;
	padding: 16px;
}

nav a:hover {
	padding: 16px;
	border-radius: 16px;
	background-color: #3A4E48;
	color: #BEB0A7;
	transition: color 1s linear;
	transition: background-color 1s linear;
}

#brand {
	display: flex;
	flex-direction: row;
	height: 64px;
}

#logo {
	height: 32px;
	margin-top: 16px;
	margin-bottom: 16px;
}

header .container {
	display: flex;
	justify-content: space-between;
}

#brand .title {
	align-self: center;
}

#brand .title h2 {
	font-weight: bold;
}

#banner {
	background-color: #BEB0A7;
	display: flex;
	flex-direction: row;
}

.left img {
	border-radius: 50px;
	width: 100%;
} 

#academy {
	color: #6A7B76;
}

#banner .container .text {
	align-self: center;
} 

#banner .right .button	{
	background-color: #8B9D83;
	padding: 8px; 
	display: flex;
	justify-content: center;
	border-radius: 16px;
	width: 80%;
	margin-left: 48px;
}

#banner .right .button:hover {
	background-color: #3A4E48;
	border-radius: 16px;
	width: 80%;
	margin-left: 48px;
	transition: background-color .5s linear;

}

#button_back:hover p { 
	color: #BEB0A7;
	transition: color .5s linear;
}

#banner h1 {
	font-size: 48px;
	font-weight: bolder;
	line-height: 1rem;
}

#banner h4 {
	font-size: 32px;
	line-height: .1rem;
}

#banner p {
	font-size: 24px;
	color: #040303;
}

#banner a {
	text-decoration: none;
}

.infotext {
	width: 100%;
}

#information {
	display: flex;
	flex-direction: row;
}

.container.left {
	width: 60%;
	margin: 32px 24px;
}

.container.right  {
	display: flex;
	flex-direction: column;
	justify-content: center; 
	margin: 32px 24px;
	width: 40%;
	align-content: center;
} 

.container .right .text {
	align-self: center;
}

/*#information*/ .right {
	display: flex;
	flex-direction: column;
}

/*#information*/ .right .details {
	display: flex;
	flex-direction: row;
	border: 1px solid #6A7B76;
	border-radius: 16px;
	height: 200px;
}

/*#information*/ .right .details:hover {
	background-color: #6A7B76;
	transition: background-color 1s linear;
}

/*#information*/ .right .details img {
	width: 35%;
	height: auto;
	border-radius: 16px;
	margin: 16px;
}

#information .details .text p {
}

#course {
	background-color: #BEB0A7;
}

#course .title {
	display: flex;
	justify-content: center;
	padding: 32px;
	min-width: 100%;
}

#course .details {
	width: 25%;
	margin: 32px;
	background-color: white;
	border-radius: 16px;
	border: 2px solid white;
}

#course .details img {
	width: 100%;
	height: auto;
	border: 1px solid white;
	border-radius: 16px;	
}

#course .container {
	margin-left: 72px;
	margin-right: 72px;
	display: flex;
	flex-wrap: wrap; 
}

#course .text {
	background-color: #fff;
	border: 2px solid white;
	height: 160px;
	border-radius: 16px;
	padding: 16px;
	line-height: 1rem;
	margin-left: 36px;
	margin-right: 36px;
}

#course .text h4 {
	line-height: .05rem;
}

#thesis {
	height: 800px;
}

#thesis .title {
	display: flex;
	justify-content: center;
	min-width: 100%;
	padding: 32px;
}

#thesis .main {
	display: flex;
	flex-direction: row;
}

#thesis .container .left {
	margin-left: 24px;
	margin-right: 24px;
	width: 60%;
}

#thesis .right {

}

footer .container {
	margin-left: 24px;
	margin-right: 24px;
	margin-top: 16px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

footer a {
	text-decoration: none;
	color: #040303;
	margin: 8px;
}

footer {
	background-color: #8B9D83;
}

i {
	align-self: center;
	color: #fff;
}

footer span, p {
	align-self: center;
}

#facebook {
	display: flex;
	justify-content: center;
	height: 40px;
	width: 40px;
	background-color: #3B5998;
	margin-left: 4px;
}

#facebook:hover {
	border-radius: 40px;
	transition: border-radius 0.5s ease-out;
}

#twitter {
	display: flex;
	justify-content: center;
	height: 40px;
	width: 40px;
	background-color: #00aced;
	margin-left: 4px;
}

#twitter:hover {
	border-radius: 40px;
	transition: border-radius 0.5s ease-out;
}

.square a {
	align-self: center;
}

#social {
	display: flex;
	flex-direction: row;
}

.mobile {
	display: none;
}

@media only screen and (max-width: 480px) {


}