/* colors: 	rich black - 040303, 
			arsenic - 3A4E48, 
			smoke - 6A7B76, 
			artichoke - 8B9D83, 
			black-shadows - BEB0A7;
			*/
html {
	font-family: 'Roboto', sans-serif;
}

body {
	color: #040303;
}

header {
	background-color: #8B9D83;
	height: 64px;
}

nav ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;

}

nav li {
	margin: 8px;
}

nav a {
	text-decoration: none;
	color: inherit;
	font-size: 1.2rem;
	font-weight: bold;
}

#brand {
	display: flex;
	flex-direction: row;
	height: 64px;
}

#logo {
	height: 32px;
	margin-top: 16px;
	margin-bottom: 16px;
}

header .container {
	display: flex;
	justify-content: space-between;
}

.title {
	align-self: center;
}

.title h2 {
	font-weight: bold;
}

#banner {
	background-color: #BEB0A7;
	display: flex;
	flex-direction: row;
}

.left img {
	border-radius: 50px;
} 

#academy {
	color: #6A7B76;
}

#banner .container .text {
	align-self: center;
} 

#banner .right .button	{
	background-color: #3A4E48;
	padding: 8px;
	display: flex;
	justify-content: center;
}

#banner .right .button:hover {
	background-color: #8B9D83;

}

#button_back:hover p { 
	color: #040303;
}

#banner h1 {
	font-size: 48px;
	font-weight: bolder;
	line-height: 1rem;
}

#banner h4 {
	font-size: 32px;
	line-height: .1rem;
}

#banner p {
	font-size: 24px;
	color: #BEB0A7;
}

#banner a {
	text-decoration: none;
}

#infotext {
	width: 100%;
}

#information {
	display: flex;
	flex-direction: row;
}

.container.left {
	width: 60%;
	margin: 32px 24px;
}

.left img {
	width: 100%;
}

.container.right  {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 32px 24px;
}

#information .right {
	display: flex;
	flex-direction: column;
}

#information .right .details {
	display: flex;
	flex-direction: row;
}

#information .right .details img {
	width: 35%;
	height: 35%;
	border-radius: 16px;
	margin: 16px;
}

#information .details .text {
	display: flex;
	flex-direction: column;
}